
.logoutClass {
    flex: 1 1 auto;
    text-align: right;
  }

  .logoutClass button {
    margin-right: 10px;
    margin-left: 0px;
  }

  .mat-select-content{
    font-size: 12px;
    height: 30px !important;
  } 
  .mat-label-content{
    font-size: 14px;
    height: 35px !important;
  } 

  .logoutClass input {
    width: 200px !important;
  }

