<mat-toolbar style="min-height: 40px !important; height: 40px !important;"> 
    <h1 mat-dialog-title>Person Search</h1>
    <span class="fill-remaining-space"></span>
    <button class="btn-dialog-close" mat-stroked-button (click)="onClose()" tabIndex="-1">
      <mat-icon>clear</mat-icon>
    </button>
  </mat-toolbar>
  <br>
  <mat-dialog-content class="mat-typography">
    <form [formGroup]="service.form" class="formwidth" (submit)="getData()">
      <table class="fullwidth" cellspacing="0">
        <tr>
          <td>            
            <mat-form-field class="mat-select-content" appearance="outline">
              <mat-label>PersonId</mat-label>
              <input matInput placeholder="PersonId" formControlName="personid">
            </mat-form-field>
          </td> 
          <td>            
            <mat-form-field class="mat-select-content" appearance="outline">
              <mat-label>EcdId</mat-label>
              <input matInput placeholder="EcdId" formControlName="ecdId">
            </mat-form-field>
          </td>  
        </tr>
      </table> 
      <br>  
      <table class="fullwidth" cellspacing="0">
          <tr>
            <td>            
              <mat-form-field class="mat-select-content" appearance="outline">
                <mat-label>Name</mat-label>
                <input matInput placeholder="Name" formControlName="name">
              </mat-form-field>
            </td> 
            <td>            
              <mat-form-field class="mat-select-content" appearance="outline">
                <mat-label>NTSystemLogin</mat-label>
                <input matInput placeholder="NTSystemLogin" formControlName="ntSystemLogin">
              </mat-form-field>
            </td>  
          </tr>
        </table> 
    <br>
    <div class="button-row">
      <button mat-raised-button color="primary" type="submit">Search</button>
      <button mat-raised-button color="primary" (click)="onClear()">Cancel</button>
      <button mat-raised-button color="primary" type="button" (click)="submitData()">Ok</button>
    </div> 
  </form>
    <br>
    <div class="approvers-table mat-elevation-z8">
      <mat-table [dataSource]="dataSource">
        <div *ngIf="multiSelectFlag===false"> 
        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? masterToggle() : null"
                          [checked]="selection.hasValue() && isAllSelected()"
                          [indeterminate]="selection.hasValue() && !isAllSelected()">
            </mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()"
                          (change)="$event ? selection.toggle(row) : null"
                          [checked]="selection.isSelected(row)">
            </mat-checkbox>
          </td>
        </ng-container>
        </div>
        <div *ngIf="multiSelectFlag===true"> 
        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? multioptionmasterToggle() : null"
                          [checked]="multiselection.hasValue() && isMultiOptionSelected()"
                          [indeterminate]="multiselection.hasValue() && !isMultiOptionSelected()">
            </mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()"
                          (change)="$event ? multiselection.toggle(row) : null"
                          [checked]="multiselection.isSelected(row)">
            </mat-checkbox>
          </td>
        </ng-container>
      </div>
        
        <ng-container matColumnDef="personid">
          <th mat-header-cell *matHeaderCellDef > Personid </th>
          <td mat-cell *matCellDef="let element" > {{element.personid}} </td>
        </ng-container>
        
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef > Name </th>
          <td mat-cell *matCellDef="let element" > {{element.name}} </td>
        </ng-container>
        
        <ng-container matColumnDef="stage">
            <th mat-header-cell *matHeaderCellDef > Stage </th>
          <td mat-cell *matCellDef="let element" > {{element.stage}} </td>
        </ng-container>
        
        <ng-container matColumnDef="departmentId">
            <th mat-header-cell *matHeaderCellDef > DepartmentId </th>
          <td mat-cell *matCellDef="let element" > {{element.departmentId}} </td>
        </ng-container>
        
        <ng-container matColumnDef="shortName">
            <th mat-header-cell *matHeaderCellDef > ShortName </th>
          <td mat-cell *matCellDef="let element" > {{element.shortName}} </td>
        </ng-container>
        
        <ng-container matColumnDef="ntSystemLogin">
            <th mat-header-cell *matHeaderCellDef > NTSystemLogin </th>
          <td mat-cell *matCellDef="let element" > {{element.ntSystemLogin}} </td>
        </ng-container>
        
        <ng-container matColumnDef="ecdId">
            <th mat-header-cell *matHeaderCellDef > EcdId </th>
          <td mat-cell *matCellDef="let element" > {{element.ecdId}} </td>
        </ng-container>
        
        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef > Email </th>
          <td mat-cell *matCellDef="let element" > {{element.email}} </td>
        </ng-container>
        
        <ng-container matColumnDef="functionalAreaAccessCode">
            <th mat-header-cell *matHeaderCellDef > FunctionalAreaAccessCode </th>
          <td mat-cell *matCellDef="let element" > {{element.functionalAreaAccessCode}} </td>
        </ng-container>
        
        <ng-container matColumnDef="groupName">
            <th mat-header-cell *matHeaderCellDef > GroupName </th>
          <td mat-cell *matCellDef="let element" > {{element.groupName}} </td>
        </ng-container>
        
        <ng-container matColumnDef="dataOwnerGroupId">
            <th mat-header-cell *matHeaderCellDef > DataOwnerGroupId </th>
          <td mat-cell *matCellDef="let element" > {{element.dataOwnerGroupId}} </td>
        </ng-container>
        
        <tr mat-header-row *matHeaderRowDef="personSearchColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: personSearchColumns;"></tr>
      </mat-table>    
    </div>

</mat-dialog-content>