<div class="row">
      <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
            <app-header-component></app-header-component>
      </div>
</div>
<div class="row">
      <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
            <mat-tab-group [selectedIndex]="selected.value"
            (selectedIndexChange)="selected.setValue($event)" (focusChange)="tabChanged($event)"
            #tabGroup >
            <mat-tab *ngFor="let tab of tabs; let index = index" [label]="tab" class="tabs" tabIndex="-1">
                  <ng-template mat-tab-label>
                        <span>{{tab}}</span>
                        <span><pre> </pre></span>
                        <button color="primary" class="btn-dialog-close" 
                        mat-stroked-button (click)="onClose(index, $event)" >
                                    <mat-icon>clear</mat-icon>
                        </button>                        
                  </ng-template>
                  <div *ngIf="tab==='Pending Task List'"> 
                        <app-pending-task></app-pending-task>
                  </div>
                  <div *ngIf="tab==='Book Open'">
                        <app-book-open [selectedTab] = "selected" [selectedTabs]="tabs"></app-book-open>
                  </div>
                  <div *ngIf="tab.includes('Request Summary')">
                        <app-request-summary [selectedTab] = "selected" [selectedTabs]="tabs"></app-request-summary>
                  </div>
            </mat-tab>
      </mat-tab-group>
</div>
</div>